<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        h1{
            display:inline;
        }
        p{
            display: inline;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>Testing Judul</h1>
        <p class="my-para">
            This text is the content of the box. We have added a 50 px padding, 20px margin, and
            a 15px green border. <div> ini adalah span</div> Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa.
            Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. 
            Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa
            Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa 
        </p>
    </div>
</body>
</html>