<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        h1{
            display:block;
            background-color: red;
        }
        p{
            display: inline;
        }
        span{
            color: red;
        }
        .myclass{
            display:flex;
            flex-direction: column;
        }
        .mypara1{
            flex: 1;
        }
        .mypara2{
            flex: 2;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>Testing Judul</h1>
        <div class="myclass">
            <div class="mypara1">
                This text is the content of the box. We have added a 50 px padding, 20px margin, and
                a 15px green border. <span> ini adalah span</span> Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa.
                Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. 
                Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa
                Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa 
            </div>
            <div class="mypara1">
                This text is the content of the box. We have added a 50 px padding, 20px margin, and
                a 15px green border. <span> ini adalah span</span> Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa.
                Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. 
                Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa
                Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa 
            </div>
            <div>
                This text is the content of the box. We have added a 50 px padding, 20px margin, and
                a 15px green border. <span> ini adalah span</span> Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa.
                Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa. 
                Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa .Ut enim ad mina ais da le costa
                Ut enim ad mina ais da le costa. Ut enim ad mina ais da le costa 
            </div>
        </div>

        </p>
    </div>
</body>
</html>